html{
  scroll-behavior: smooth;
}

p{
  line-height: 40px;
  padding-left: 30px;
  padding-right: 30px;

}

h2, h3{
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}
h3{
  padding-top: 30px;
}
.downarrow{
  padding-left: 50%;
}

.projectimg{
    padding-top: 50px;
}

.iconlist{
  padding-left: 180px;
  padding-right: 130px;
}

.instaicon, .linkedinicon, .githubicon, .twittericon{
  margin-left: 90px;
}

form{
  margin-top: 150px;
  margin-left: 35%;

}
